#container {
    table {
        background-color: #bcc6cc;
    }
    td {
        height: 20px;
        width: 20px;
        border: 1px solid wheat;

        &.snake {
            background-color: red;
        }
        &.food {
            background-color: blue;
        }
    }
}
